
pandas==2.2.3
openpyxl==3.1.5
plotly==5.24.1
rapidfuzz==3.10.1
altair==5.5.0
blinker==1.9.0
cachetools==5.5.0
click==8.1.8
gitpython==3.1.43
numpy==2.2.0
packaging==24.2
pillow==11.0.0
protobuf==5.29.2
pydeck==0.9.1
requests==2.32.3
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
typing-extensions==4.12.2
watchdog==6.0.0
tzlocal==5.2
validators==0.34.0
python-dateutil==2.9.0
plotly==5.24.1
rapidfuzz==3.10.1
streamlit==1.39.0